<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batanks.newplan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.BatanksApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_ActionBar"
        android:usesCleartextTraffic="true">

        <!--<activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity android:name=".MainActivity" />

        <activity android:name=".signing.SigninActivity" />

        <activity
            android:name=".registration.Registration"
            android:theme="@style/AppTheme_Registration" />

        <activity
            android:name=".home.HomePlanPreview"
            android:theme="@style/AppTheme_Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>